*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,html{
	height: 100%;
	width: 100%;
	background-attachment: fixed;
}

#Navbar{
	position: relative;
	float: right;
	z-index: 999;
	/*放NAV*/
}
#Listbar{
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none; 
	/*放NAV*/
}
#Listbar>li{
	display: inline-block;
	/*float: left;*/
}
#Listbar>li>a{
	display: block;
	width: 200px;
	height: 40%;
	padding-top: 20%;
	padding-bottom: 20%;
	text-decoration: none;
	text-align: center;
	color:#FFF;
	opacity: 0.8;
}
#Listbar>li>a:hover{
	display: block;
	width: 200px;
	height: 40%;
	padding-top: 20%;
	padding-bottom: 20%;
	text-decoration: none;
	text-align: center;
	color:#FFF;
	background-color: #519D9E;
}
/*
.Li-width-1{
	width: 37.5px;
	height: 50%;
	padding-top: 25%;
	padding-bottom: 25%;
}
.Li-width-3{
	width: 75px;
	height: 50%;
	padding-top: 25%;
	padding-bottom: 25%;
}
.Li-width-4{
	width: 150px;
	height: 50%;
	padding-top: 25%;
	padding-bottom: 25%;
}*/

.image-BG{
	background-size: cover;
}
.Index-BG/*div1 pg.1 BG*/{
	position: relative;
	width: 100%;
	height: 100%;
}
.Index-BG>h1{
	color: #FFF;
	opacity: 0.8;
	font-family: impact;
	position: absolute;
	width: 10%;
	height: 5%;
	text-align: center;
	top: 4%;
	left: 5%;
}
.Index-BG>h1>a{
	position: absolute;
	text-decoration: none;
	color: #FFF;
	display: block;
	width: 200px;
}
.Index-BG>button{
	position: absolute;
	color: white;
	border: 0px;
	border-radius: 10px;
	background:#55967e;
	width:6%;
	height: 7%;
	left: 47.5%;
	bottom: 10%;
}

.Index-page2{
	width: 100%;
	height: 110%;
	background-color: #1F2124;
}
.Index-page2>h1{
	position: absolute;
	text-align: center;
	margin-top: 7%;
	left: 29%;
	color: #FFF;
	font-weight: bold;
	letter-spacing:1.5px;
}
.Index-page2>p{
	position: absolute;
	text-align: center;
	margin-top: 12%;
	left: 24%;
	color: #FFF;
	opacity: 0.5;
	letter-spacing: 3px;
	line-height: 24px;
}
#Index-page2-h1{
	position: absolute;
	text-align: center;
	margin-top: 25%;
	left: 27%;
	color: #FFF;
	font-weight: bold;
	letter-spacing:1.5px;
}
.Index-page2-img{
	position: absolute;
	width: 70%;
	height: 40%;
	left: 15%;
	margin-top: 28%;
}
.Index-page3{
	width: 100%;
	height: 110%;
	background-color: #FFF;
}
.Index-page3-img{
	position: absolute;
	width: 45%;
	margin-top: 10%;
	left: 10%;
}
.Index-page3>h2{
	position: absolute;
	text-align: center;
	margin-top: 20%;
	right: 25%;
}
.Index-page3>p{
	position:absolute;
	color: gray;
	right: 22%;
	margin-top: 25%;
	letter-spacing: 2.5px;
	line-height: 24px;
}
.Index-page4{
	width: 100%;
	height: 110%;
	background-color: #FFF;
}
.Index-page4>table{
	height:600;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.Index-page4>td{
	vertical-align: middle;
}
.Index-page4-td{
	background-color:#333030;
}
.font-white{
	color: white;
}
.font-op-white{
	color: white;
	opacity: 0.5;
}
.Index-page5{
	width: 100%;
	height: 110%;
	background:-webkit-linear-gradient(white,gray,black);
	background: -o-linear-gradient(white,gray,black);
	background: -moz-linear-gradient(white,gray,black);
	background: linear-gradient(white,gray,black);
}
.Index-page5>h1{
	position:absolute;
	color: white;
	opacity: 0.8;
	margin-top: 20%;
	left: 30%;
}
.Index-page5>button{
	width: 60px;
	height: 56px;
	border-radius: 10px;
	margin-top: 25%;
}
.Index-button-1{
	color: white;
	border: 0;
	background-color: #4F953B;
	margin-left: 47%;
}
.Index-button-2{
	color: white;
	border: 0;
	background-color: #55967E;
}
.a-text-decoration{
	text-decoration: none;
	color: white;
}
/* Login */
.Login{
	background:linear-gradient(#1F2124,#383A3F,#333030);
	width: 100%;
	height: 110%;
	background-attachment:fixed;
}
.Login>h1{
	color: #FFF;
	opacity: 0.8;
	font-family: impact;
	position: absolute;
	width: 10%;
	height: 5%;
	text-align: center;
	top: 4%;
	left: 5%;
}
.Login>h1>a{
	position: absolute;
	text-decoration: none;
	color: #FFF;
	display: block;
	width: 200px;
}
/*機構列表後的div*/
.machanism{
	background:linear-gradient(#1F2124,#383A3F,#333030);
	width: 100%;
	height: 75%;
	background-attachment:fixed;
}
.machanism>h1{
	color: #FFF;
	opacity: 0.8;
	font-family: impact;
	position: absolute;
	width: 10%;
	height: 5%;
	text-align: center;
	top: 4%;
	left: 5%;
}
.machanism>h1>a{
	position: absolute;
	text-decoration: none;
	color: #FFF;
	display: block;
	width: 200px;
}
/*內容*/
.FoodBank-headline{
	color: white;
	text-align: center;
	margin-left: 25%;
	margin-top: 8%;
	white-space: nowrap;
}
.FoodBank-headline2{
	color: white;
	text-align: center;
	margin-left: 22%;
	margin-top: 28%;
	white-space: nowrap;
}
.FoodBank-content{
	position: absolute;
	color: white;
	letter-spacing: 4px;
	line-height: 25px;
	opacity: 0.8;
	margin-left: 22%;
	margin-top: 16%;
	text-align: center;
	white-space: nowrap;
}
.FoodBank-headline3{
	color: white;
	text-align: center;
	margin-left: 37%;
	margin-top: 32%;
	white-space: nowrap;	
}
/*機構列表標題*/
.Mechanism-headline{
	color: white;
	text-align: center;
	margin-left: 30%;
	margin-top: 8%;
	white-space: nowrap;
}
.Mechanism-headline2{
	color: white;
	text-align: center;
	margin-left: 22%;
	margin-top: 12%;
	white-space: nowrap;
}
/**/
.FoodBank-from{
	position: absolute;
	margin-left: 40%;
	margin-top:38%;
}
.FoodBank-footer{
	background-color: black;
	height: 30%;
	width: 100%;
}
.footer-Explanation{
	position: relative;
	color: white;
	text-align: center;
	font-family:monospace;
	top: 50%;
}
.mechanism-table{
	position: relative;
	background-color: white;
	text-align:center;
	align-self: center;
	margin-right: auto;
	margin-left: auto;
	border-top-left-radius:5px; 
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	top: 32%; 
	width:65%;
	height:45%;
	border:2;
	border-color: black;
	letter-spacing: 1.5px;
}
.existing-table{
	position: relative;
	background-color: white;
	text-align:center;
	align-self: center;
	margin-right: auto;
	margin-left: auto;
	border-top-left-radius:5px; 
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	top: 25%; 
	width:65%;
	height:20%;
	border:2;
	border-color: black;
	letter-spacing: 1.5px;
}
.existing-img{
	position: relative;
	width: 70%;
	margin-top: 15%;
	left: 15%;
}